// Reference: https://www.degordian.com/education/blog/best-practice-for-responsive-typography/

// Breakpoint mixin
@mixin breakpoint($value, $property) {
	@media screen and ($property: $value) {
		@content;
	}
}

// Responsive font-size mixin
@mixin font-size-map($font-size-map, $property) {
	@each $breakpoint, $font-size in $font-size-map {
		@if $breakpoint == null {
			font-size: $font-size;
		} @else {
			@include breakpoint($breakpoint, $property) {
				font-size: $font-size;
			}
		}
	}
}

// Breakpoint variables
$xs: 480px;
$sm: 640px;
$md: 800px;
$lg: 1080px;
$xl: 1920px;

// Font-size variables
$body-font-size-w: ($xl: 1.6em, $lg: 1.4em, $md: 1.3em, $sm: 1.2em, $xs: 1em);
$title-font-size-w: ($xl: 3em, $lg: 2.8em, $md: 2.7em, $sm: 2.6em, $xs: 2.5em);
$subtitle-font-size-w: (null: 1.2em, $sm: 1.1em, $xs: 1em);
$body-font-size-h: ($sm: 1.2em, $xs: 1em);
$title-font-size-h: ($sm: 2.6em, $xs: 2.5em);
$subtitle-font-size-h: ($sm: 1.1em, $xs: 1em);
/*
$body-font-size-w: (null: 1.6em, $xs: 1em, $sm: 1.2em, $md: 1.4em, $lg: 1.5em, $xl: 1.6em);
$title-font-size-w: (null: 3em, $xs: 2.5em, $sm: 2.6em, $md: 2.7em, $lg: 3em);
$subtitle-font-size-w: (null: 1.2em, $xs: 1em, $sm: 1.1em);
$body-font-size-h: ($sm: 1.2em, $xs: 1em);
$title-font-size-h: ($sm: 2.6em, $xs: 2.5em);
$subtitle-font-size-h: ($sm: 1.1em, $xs: 1em);
*/
body {
	@include font-size-map($body-font-size-w, max-width);
}
.slide .note .title-container {
	.title {
		@include font-size-map($title-font-size-w, max-width);
	}
	.subtitle {
		@include font-size-map($subtitle-font-size-w, max-width);
	}
}
body {
	@include font-size-map($body-font-size-h, max-height);
}
.slide .note .title-container {
	.title {
		@include font-size-map($title-font-size-h, max-height);
	}
	.subtitle {
		@include font-size-map($subtitle-font-size-h, max-height);
	}
}

@media screen and (max-width: $sm), (max-height: $sm) {
	.slide .note {
		padding: 30px;
	}
}

@media screen and (max-height: $xs) {
	.header {
		top: 2em;
		> div:nth-child(1) {
			display: none;
		}
	}
	.button-wrapper.note-add-wrapper {
		top: 20%;
	}
	.slideshow .dragger {
		top: 35%;
		height: 65%;
		&.dragger-small .slide .note {
			padding: 10px;
			.title-container {
				.title {
					padding: 0;
					font-size: 1.5em;
				}
				.subtitle {
					display: none;
				}
				.timestamp {
					font-size: 0.8em;
				}
			}
		}
	}
	.note-button-container {
		top: 60%;
	}
	.slide.show {
		.note-button-container {
			top: -35%;
		}
		.note-switch-wrapper {
			top: 65%;
		}
	}
}
@media screen and (min-width: $lg) {
	.button-wrapper.note-add-wrapper {
		top: 120%;
	}
}
