// Reference: https://www.degordian.com/education/blog/best-practice-for-responsive-typography/

// Breakpoint mixin
@mixin breakpoint($value, $property) {
	@media ($property: $value) {
		@content;
	}
}

// Responsive font-size mixin
@mixin font-size-map($font-size-map, $property) {
	@each $breakpoint, $font-size in $font-size-map {
		@if $breakpoint == null {
			font-size: $font-size;
		} @else {
			@include breakpoint($breakpoint, $property) {
				font-size: $font-size;
			}
		}
	}
}

// Breakpoint variables
$lg: 1080px;
$md: 800px;
$sm: 640px;
$xs: 480px;

// Font-size variables
$body-font-size-w: (null: 1.6em, $lg: 1.5em, $md: 1.4em, $sm: 1.2em, $xs: 1em);
$body-font-size-h: ($sm: 1.2em, $xs: 1em);
$title-font-size-w: (null: 3em, $lg: 2.9em, $md: 2.8em, $sm: 2.6em, $xs: 2.4em);
$title-font-size-h: ($sm: 2.6em, $xs: 2.4em);
$subtitle-font-size-w: (null: 1.2em, $sm: 1.1em, $xs: 1em);
$subtitle-font-size-h: ($sm: 1.1em, $xs: 1em);

body {
	@include font-size-map($body-font-size-w, max-width);
}
.slide .note .title-container {
	.title {
		@include font-size-map($title-font-size-w, max-width);
	}
	.subtitle {
		@include font-size-map($subtitle-font-size-w, max-width);
	}
}
body {
	@include font-size-map($body-font-size-h, max-height);
}
.slide .note .title-container {
	.title {
		@include font-size-map($title-font-size-h, max-height);
	}
	.subtitle {
		@include font-size-map($subtitle-font-size-h, max-height);
	}
}

@media screen and (max-height: $xs) {
	.header {
		top: 2em;
	}
	.dragger {
		top: 35%;
		height: 65%;
		&.dragger-small {
			.note {
				padding: 10px;
				.title-container {
					.title {
						padding: 0;
					}
					.subtitle {
						display: none;
					}
					.timestamp {
						font-size: 0.8em;
					}
				}
			}
		}
	}
	.note-button-container {
		top: 60%;
	}
	.slide.show {
		.note-button-container {
			top: -35%;
		}
		.note-switch-wrapper {
			top: 65%;
		}
	}
}
