$cubic-bezier: cubic-bezier(0.7, 0, 0.3, 1);

@keyframes slideUpFade {
	from {
		opacity: 0;
		transform: translateY(30px);
 	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideUpFade2 {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.app,
.slideshow,
.empty,
.slide .note {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.app {
	background: linear-gradient(to bottom right, #185a9d, #43cea2);
}

/* Overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(255,255,255,1) 5%, rgba(255,255,255,0.5) 100%);
}

/* Empty Notice */
.empty {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #e7edee;
	text-align: center;
}

/* Slideshow */
.slideshow {
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: $cubic-bezier;
	.dragger {
		position: relative;
		top: 40%;
		margin: 0 auto;
		width: 100%;
		height: 60%;
		transform-origin: 50% 0;
		.handle {
			display: flex;
			height: 100%;
			transform-style: preserve-3d;
		}
		&.dragger-large .slide:not(.show) .note {
			height: 120%;
		}
		&.dragger-small .slide {
			.note {
				border-radius: 10px;
			}
			.title-container {
				margin: 0 -10px;
				animation: slideUpFade 0.4s;
				span {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.title {
					font-size: 1.6em;
				}
				.subtitle {
					display: none;
				}
				.timestamp {
					font-size: 1em;
				}
			}
			&:not(.current) .title-container {
				color: #4f6f8f;
			}
			.content {
				display: none;
			}
		}
		&.active .slide:active {
			cursor: grabbing;
		}
	}
	&.show-content {
		/* needed for onEndTransitionFn */
		transform: translate3d(0, 0, 0);
		transition-duration: 1s;
		.dragger.dragger-large {
			top: 0;
			height: 100%;
			transition-duration: 1s;
		}
	}
}

/* Slide */
.slide {
	position: relative;
	height: 100%;
	border-radius: 30px;
	.note {
		padding: 30px;
		border-radius: 30px 30px 0 0;
		background-color: #dfe3e3;
		box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.5);
		transition-property: padding, height;
		transition-duration: 0.5s;
		transition-timing-function: $cubic-bezier;
		.title-container {
			color: #34495e;
			line-height: 1;
			text-align: center;
			transition: opacity 0.3s $cubic-bezier;
			.title {
				display: block;
				padding-bottom: 10px;
				font: {
					family: 'Playfair Display', serif;
					size: 3em;
					weight: 700;
				}
			}
			.subtitle,
			.timestamp {
				font: {
					family: 'Georgia', serif;
					size: 1.2em;
					weight: 300;
				}
			}
		}
		.content {
			padding: 10px;
			transition: opacity 0.3s $cubic-bezier;
		}
		.title-editor,
		.content-editor {
			padding: 20px;
		}
	}
	&.current {
		transition-property: margin, width;
		transition-duration: 0.5s;
		transition-timing-function: $cubic-bezier;
	}
	&.previous,
	&.next {
		left: 0;
		transition-property: left;
		transition-duration: 0.5s;
		transition-timing-function: $cubic-bezier;
	}
	&.show {
		margin: 0 10px;
		padding: 0 0 50px 0;
		height: auto;
		border-radius: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		transition-duration: 1s;
		&::-webkit-scrollbar {
			display: none;
		}
		.note {
			height: auto;
			min-height: 100%;
			padding-top: 150px;
			border-radius: 30px;
			transition-duration: 1s;
			.title-container {
				opacity: 0;
				animation: slideUpFade2 0.5s 0.5s forwards;
			}
			.content {
				opacity: 0;
				animation: slideUpFade2 0.5s 1s forwards;
			}
		}
	}
	&:not(.show) {
		cursor: grab;
		user-select: none;
		-webkit-touch-callout: none;
	}
}

/* Note Button */
.note-button-container {
	position: absolute;
	top: 70%;
	width: 100%;
	height: 60%;
	background: linear-gradient(to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 25%,
		rgba(255, 255, 255, 1) 85%,
		rgba(255, 255, 255, 0) 100%);
	transition: top 0.5s $cubic-bezier;
}
.dragger-small .note-button-container {
	opacity: 0;
	pointer-events: none;
}
.button-wrapper {
	position: absolute;
	top: 25%;
	left: 50%;
	transition: top 0.5s $cubic-bezier;
}
.note-toggle-wrapper {
	left: 50%;
}
.note-edit-wrapper,
.note-save-wrapper {
	left: 80%;
	.button {
		padding: 1em 1.6em;
		background-size: 40%;
	}
}
.button {
	position: relative;
	z-index: 500;
	overflow: hidden;
	padding: 1em 3.5em;
	border: 2px solid #2c3135;
	background: transparent;
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
	color: #2c3135;
	opacity: 0.5;
	outline: none;
	cursor: pointer;
	transition-property: opacity, border-color, background-color, color;
	transition-duration: 0.5s;
	&:hover {
		opacity: 1;
	}
	&.note-toggle {
		left: -50%;
		background-image: url(../images/arrow-up.svg);
	}
	&.note-add {
		border-color: #e7edee;
		opacity: 1;
		span {
			color: #e7edee;
			font-weight: bold;
		}
		&:hover {
			background-color: #e7edee;
			color: #2c3135;
			span {
				background: linear-gradient(to bottom right, #185a9d, #43cea2);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&.note-edit {
		background-image: url(../images/edit.svg);
	}
	&.note-delete {
		background-image: url(../images/trash-2.svg);
	}
	&.note-save {
		background-image: url(../images/save.svg);
	}
	&.note-cancel {
		background-image: url(../images/x.svg);
	}
}

.slide.show {
	.note-button-container {
		top: -42%;
		transition-duration: 1s;
	}
	.button-wrapper {
		top: 75%;
		transition-duration: 1s;
	}
	.button.note-toggle {
		background-image: url(../images/arrow-down.svg);
	}
}

/* Switching Process */
.slideshow {
	.dragger.dragger-large {
		transition-property: top;
		transition-duration: 0.5s;
		transition-timing-function: $cubic-bezier;
	}
	&.switch-min .dragger.dragger-large,
	&.switch-max .dragger.dragger-small {
		transition-property: transform;
		transition-duration: 0.6s;
		transition-timing-function: $cubic-bezier;
	}
	&.switch-show .dragger.dragger-large {
		transition-property: top, height;
	}
	&:not(.switch-min):not(.switch-show) .dragger.dragger-large .slide.previous,
	&.switch-max .dragger-small .slide.previous {
		left: 4.5%;
	}
	&:not(.switch-min):not(.switch-show) .dragger.dragger-large .slide.next,
	&.switch-max .dragger-small .slide.next {
		left: -4.5%;
	}
	&.switch-min .dragger.dragger-large .slide {
		background-color: #dfe3e3;
	}
	&.switch-max .dragger.dragger-small .slide {
		background-color: #dfe3e3;
		border-radius: 10px;
	}
	&.switch-min .dragger.dragger-large .slide > *,
	&.switch-max .dragger.dragger-small .slide > * {
		/* fade out everything */
		opacity: 0;
		transition: none;
	}
	&.switch-min .dragger.dragger-large .slide .note {
		height: 100%;
	}
}
