<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Draggable Notes</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<main id="app" class="app" v-cloak>
			<header-component></header-component>
			<slideshow-component></slideshow-component>
			<preloader-component></preloader-component>
		</main>

		<template id="header-component">
			<transition name="v-fade">
				<header class="header"
					v-if="!status.slideIsShow">
					<div>
						<h1>
							{{ text.appName }}
						</h1>
						<span>
							{{ text.appMessage }}
						</span>
					</div>
					<div>
						<button title="Switch view"
							class="dragger-switch"
							:class="draggerButtonClass"
							@click="draggerClickHandler"
							v-if="!status.isEmpty">
						</button>
					</div>
					<transition name="v-fade">
						<div v-if="!status.slideIsShow && !status.draggerButtonIsToggled">
							<div class="button-wrapper note-add-wrapper">
								<p v-if="status.isEmpty">
									{{ text.emptyMessage }}
								</p>
								<button class="button note-add"
									@click="noteAddHandler">
									<span>
										{{ text.emptyButton }}
									</span>
								</button>
							</div>
						</div>
					</transition>
				</header>
			</transition>
		</template>

		<template id="slideshow-component">
			<transition name="v-display">
				<div class="slideshow"
					:class="slideshowClass"
					v-show="status.isDisplayed">
					<div class="dragdealer dragger"
						:class="draggerClass"
						:style="draggerStyle">
						<div class="handle"
							:style="handleStyle">
							<div class="slide"
								:class="slideClass(note.id)"
								:style="slideStyle(note.id)"
								@click="slideClickHandler(note.id)"
								v-for="(note, index) in notes"
								:id="'slide-' + note.id"
								:key="index">
								<div class="note">
									<div class="title-container"
										v-if="!(note.id == status.current && status.isEditing)">
										<span class="title">
											{{ note.title || "Untitled" }}
										</span>
										<span class="subtitle">
											Last Updated:
										</span>
										<span class="timestamp"
											:title="note.datestamp">
											{{ note.lastUpdated }}
										</span>
									</div>
									<div class="title-editor"
										v-if="note.id == status.current && status.isEditing">
										<textarea placeholder="Note Title"
											:id="'title-' + note.id"
											v-html="note.title">
										</textarea>
									</div>
									<div class="content"
										v-if="!(note.id == status.current && status.isEditing)"
										v-html="note.content">
									</div>
									<div class="content-editor"
										v-if="note.id == status.current && status.isEditing">
										<div :id="'content-' + note.id"
											v-html="note.content">
										</div>
									</div>
								</div>
								<div class="note-button-container"
									:style="containerStyle(note.id)">
									<div class="button-wrapper note-toggle-wrapper"
										v-if="!status.isEditing">
										<button class="button note-toggle"
											@click="noteToggleHandler">
										</button>
									</div>
									<div class="button-wrapper note-edit-wrapper"
										v-if="note.id == status.current && status.slideIsShow && !status.isEditing">
										<button title="Edit"
											class="button note-edit"
											@click="noteEditHandler(note.id)">
										</button>&nbsp;
										<button title="Delete"
											class="button note-delete"
											@click="noteDeleteHandler(note.id)">
										</button>
									</div>
									<div class="button-wrapper note-save-wrapper"
										v-if="note.id == status.current && status.slideIsShow && status.isEditing">
										<button title="Save"
											class="button note-save"
											@click="noteSaveHandler(note.id)">
										</button>&nbsp;
										<button title="Cancel"
											class="button note-cancel"
											@click="noteCancelHandler(note.id)">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</template>

		<template id="preloader-component">
			<transition name="v-overlay">
				<div class="overlay"
					v-show="status.isLoading">
					<div class="preloader">
						<div>
							<div></div>
						</div>
						<div>
							<div></div>
						</div>
						<div>
							<div></div>
						</div>
						<div>
							<div></div>
						</div>
						<div>
							<div></div>
						</div>
					</div>
				</div>
			</transition>
		</template>

		<script src="js/moment.min.js"></script>
		<script src="js/quill.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vuex.js"></script>
		<script src="js/constants.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/dragdealer.js"></script>
		<script src="js/helper.js"></script>
		<script src="js/store.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
