<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Draggable Notes</title>
		<meta name="description" content="Draggable Notes" />
		<meta name="author" content="Angeline" />
		<!--link rel="shortcut icon" href="../favicon.ico"-->
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:900,400|Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<section id="app" class="main" v-cloak>
			<header-component></header-component>
			<transition name="display">
				<div class="slideshow"
					:class="slideshowClass"
					v-show="status.isDisplayed">
					<div class="dragdealer dragger"
						:class="draggerClass"
						:style="draggerStyle">
						<div class="handle"
							:style="handleStyle">
							<div class="slide"
								:class="slideClass(note.id)"
								:style="slideStyle(note.id)"
								@click="slideClickHandler(note.id)"
								v-for="(note, index) in notes"
								:id="'slide-' + note.id"
								:key="index">
								<div class="note">
									<div class="title-container"
										v-if="!(note.id == status.current && status.isEditing)">
										<span class="title">{{ note.title }}</span>
										<span class="subtitle">Last Updated: </span>
										<span class="timestamp" :title="note.datestamp">{{ note.lastUpdated }}</span>
									</div>
									<div class="title-editor"
										v-if="note.id == status.current && status.isEditing">
										<textarea :id="'title-' + note.id"
											v-html="note.title">
										</textarea>
									</div>
									<div class="content"
										v-if="!(note.id == status.current && status.isEditing)"
										v-html="note.content">
									</div>
									<div class="content-editor"
										v-if="note.id == status.current && status.isEditing">
										<div :id="'content-' + note.id"
											v-html="note.content">
										</div>
									</div>
								</div>
								<div class="content-button-container"
									:style="containerStyle(note.id)">
									<div class="button-wrapper content-switch-wrapper">
										<button class="button content-switch"
											@click="contentSwitchHandler">
										</button>
									</div>
									<div class="button-wrapper content-edit-wrapper"
										v-if="note.id == status.current && status.appIsShowContent && !status.isEditing">
										<button class="button content-edit"
											@click="contentEditHandler(note.id)">
										</button>
										<button class="button content-delete"
											@click="contentDeleteHandler(note.id)">
										</button>
									</div>
									<div class="button-wrapper content-save-wrapper"
										v-if="note.id == status.current && status.appIsShowContent && status.isEditing">
										<button class="button content-save"
											@click="contentSaveHandler(note.id)">
										</button>&nbsp;
										<button class="button content-cancel"
											@click="contentCancelHandler">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</section>

		<template id="header-component">
			<header id="header" class="header" :class="headerClass">
				<h1>{{ appTitle }}</h1>
				<span class="message">{{ appMessage }}</span>
				<button class="dragger-switch"
					:class="draggerButtonClass"
					@click="draggerClickHandler">
					Switch view
				</button>
			</header>
		</template>

		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vuex.js"></script>
		<script src="js/dragdealer.js"></script>
		<script src="js/store.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
