@media screen and (max-width: 1920px) {
	body {
		font-size: 1.6em;
	}
	.slide .title {
		font-size: 3em;
	}
}
@media screen and (max-width: 1080px) {
	body {
		font-size: 1.4em;
	}
	.slide .title {
		font-size: 2.8em;
	}
}
@media screen and (max-width: 800px) {
	body {
		font-size: 1.3em;
	}
	.slide .title {
		font-size: 2.7em;
	}
}
@media screen and (max-width: 640px) {
	body {
		font-size: 1.2em;
	}
	.slide .title {
		font-size: 2.6em;
	}
	.slide .subtitle,
	.slide .timestamp {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 480px) {
	body {
		font-size: 1em;
	}
	.slide .title {
		font-size: 2.5em;
	}
	.slide .subtitle,
	.slide .timestamp {
		font-size: 1em;
	}
}

@media screen and (max-height: 640px) {
	body {
		font-size: 1.2em;
	}
	.slide .title {
		font-size: 2.6em;
	}
	.slide .subtitle,
	.slide .timestamp {
		font-size: 1.1em;
	}
	.button.note-add {
		padding: 1em;
	}
}
@media screen and (max-height: 480px) {
	body {
		font-size: 1em;
	}
	.slide .title {
		font-size: 2.5em;
	}
	.slide .subtitle,
	.slide .timestamp {
		font-size: 1em;
	}
	.button.note-add {
		padding: 1em;
	}
}

@media screen and (max-width: 640px), (max-height: 640px) {
	.slide .note {
		padding: 30px;
	}
}

@media screen and (max-height: 480px) {
	.header {
		top: 2em;
	}
	.header > div:nth-child(1) {
		display: none;
	}
	.note-add-wrapper {
		top: 20%;
	}
	.dragger {
		top: 35%;
		height: 65%;
	}
	.dragger-small .slide .note {
		padding: 10px;
	}
	.dragger-small .slide .title {
		padding: 0;
		font-size: 1.5em;
	}
	.dragger-small .slide .subtitle {
		display: none;
	}
	.dragger-small .slide .timestamp {
		font-size: 0.8em;
	}
	.note-button-container {
		top: 60%;
	}
	.slide.show .note-button-container {
		top: -35%;
	}
	.slide.show .button-wrapper {
		top: 65%;
	}
}
@media screen and (min-width: 1080px) {
	.note-add-wrapper {
		top: 120%;
	}
}
