@media screen and (min-width: 39em) {
	body {
		font-size: 1.1em;
	}
}
@media screen and (min-width: 48em) {
	body {
		font-size: 1.2em;
	}
}
@media screen and (min-width: 52em) {
	body {
		font-size: 1.356em;
	}
}
@media screen and (min-width: 78.75em) {
	body {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 88.75em) {
	body {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 650px) {
	.message {
		display: block;
	}
	.overlay .info span.info-keys,
	.overlay .info span.info-switch {
		display: none;
	}
}

@media screen and (max-width: 30em) {
	.overlay .info span {
		width: 100px;
		height: 100px;
		font-size: 0.5em;
	}
}

@media screen and (max-width: 650px) {
	button.dragger-switch {
		display: none;
	}
}

@media screen and (max-height: 400px) {
	.header {
		top: 2em;
	}
	.dragger {
		top: 35%;
		height: 65%;
	}
	.dragger-small .note {
		padding: 10px;
	}
	.dragger-small .title {
		padding: 0;
		font-size: 1.5em;
	}
	.dragger-small .subtitle {
		display: none;
	}
	.dragger-small .timestamp {
		font-size: 1em;
	}
	.content-button-container {
		top: 60%;
	}
	.slide.show .content-button-container {
		top: -35%;
	}
	.slide.show .button-wrapper {
		top: 65%;
	}
}
