@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-webkit-keyframes slideUpFade2 {
	from {
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes slideUpFade2 {
	from {
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.app,
.slideshow,
.empty,
.slide .note {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.app {
	background: linear-gradient(to bottom right, #185a9d, #43cea2);
}

/* Overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(rgba(255,255,255,1) 5%, rgba(255,255,255,0.5) 100%);
	background: radial-gradient(rgba(255,255,255,1) 5%, rgba(255,255,255,0.5) 100%);
}

/* Empty Notice */
.empty {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #e7edee;
	text-align: center;
}

/* Slideshow */
.slideshow {
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.7, 0, .3, 1);
	transition: transform 0.5s cubic-bezier(.7, 0, .3, 1);
}
.slideshow.show-content {
	/* needed for onEndTransitionFn */
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

/* Dragger */
.dragger {
	position: relative;
	top: 40%;
	margin: 0 auto;
	width: 100%;
	height: 60%;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.dragger-large {
	-webkit-transition-property: top;
	transition-property: top;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}
.show-content .dragger-large {
	top: 0;
	height: 100%;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.switch-show .dragger-large {
	-webkit-transition-property: top, height;
	transition-property: top, height;
}

/* Handle */
.dragger .handle {
	display: flex;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* Slide */
.dragger .slide {
	position: relative;
	height: 100%;
	border-radius: 30px;
}
.dragger.active .slide:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}
.dragger .slide.current {
	-webkit-transition-property: margin, width;
	transition-property: margin, width;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}
.dragger .slide.previous,
.dragger .slide.next {
	left: 0;
	-webkit-transition-property: left;
	transition-property: left;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}
.dragger .slide.show {
	margin: 0 10px;
	padding: 0 0 50px 0;
	height: auto;
	border-radius: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.dragger .slide.show::-webkit-scrollbar {
	display: none;
}
.dragger .slide:not(.show) {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dragger-large .slide,
.dragger-small .slide {
	background-color: transparent;
}
.slide .note {
	padding: 50px;
	border-radius: 30px 30px 0 0;
	background-color: #dfe3e3;
	-webkit-box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.5);
	-webkit-transition-property: padding, height;
	transition-property: padding, height;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}
.slide.show .note {
	height: auto;
	min-height: 100%;
	padding-top: 150px;
	border-radius: 30px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.dragger-large .slide:not(.show) .note {
	height: 120%;
}
.dragger-small .slide .note {
	padding: 30px;
	border-radius: 10px;
}
.slide .title-container {
	color: #34495e;
	line-height: 1;
	text-align: center;
	-webkit-transition: opacity 0.3s cubic-bezier(.7, 0, .3, 1);
	transition: opacity 0.3s cubic-bezier(.7, 0, .3, 1);
}
.dragger-small .slide .title-container {
	margin: 0 -10px;
	-webkit-animation: slideUpFade 0.4s;
	animation: slideUpFade 0.4s;
}
.dragger-small .slide .title-container span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dragger-small .slide:not(.current) .title {
	color: #4f6f8f;
}
.slide .title {
	display: block;
	padding-bottom: 10px;
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	font-weight: 700;
}
.slide .subtitle,
.slide .timestamp {
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	font-weight: 300;
}
.dragger-small .slide .subtitle {
	display: none;
}
.slide .content {
	padding: 10px;
}
.slide .title-editor,
.slide .content-editor {
	padding: 20px;
}
.dragger-small .slide .content {
	display: none;
}
.dragger-small .slide .title {
	font-size: 1.6em;
}
.dragger-small .slide .timestamp {
	font-size: 1em;
}
.slide .title-container,
.slide .content {
	-webkit-transition: opacity 0.3s cubic-bezier(.7, 0, .3, 1);
	transition: opacity 0.3s cubic-bezier(.7, 0, .3, 1);
}
.slide.show .title-container {
	opacity: 0;
	-webkit-animation: slideUpFade2 0.5s 0.5s forwards;
	animation: slideUpFade2 0.5s 0.5s forwards;
}
.slide.show .content {
	opacity: 0;
	-webkit-animation: slideUpFade2 0.5s 1s forwards;
	animation: slideUpFade2 0.5s 1s forwards;
}

/* Note Buttons */
.note-button-container {
	position: absolute;
	top: 70%;
	width: 100%;
	height: 60%;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
	-webkit-transition: top 0.5s cubic-bezier(.7, 0, .3, 1);
	transition: top 0.5s cubic-bezier(.7, 0, .3, 1);
}
.dragger-small .note-button-container {
	opacity: 0;
	pointer-events: none;
}
.button-wrapper {
	position: absolute;
	top: 25%;
	-webkit-transition: top 0.5s cubic-bezier(.7, 0, .3, 1);
	transition: top 0.5s cubic-bezier(.7, 0, .3, 1);
}
.note-toggle-wrapper {
	left: 50%;
}
.note-add-wrapper {
	top: 150%;
	left: 50%;
}
.note-edit-wrapper,
.note-save-wrapper {
	left: 80%;
}
.button {
	position: relative;
	z-index: 500;
	overflow: hidden;
	padding: 1em 3.5em;
	border: 2px solid #2c3135;
	background-color: transparent;
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
	color: #2c3135;
	opacity: 0.5;
	outline: none;
	cursor: pointer;
	-webkit-transition-property: opacity, border-color, background-color, color;
	transition-property: opacity, border-color, background-color, color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.note-edit-wrapper .button,
.note-save-wrapper .button {
	padding: 1em 1.6em;
	background-size: 40%;
}
.button.note-toggle {
	left: -50%;
	background-image: url(../images/arrow-up.svg);
}
.slide.show .button.note-toggle {
	background-image: url(../images/arrow-down.svg);
}
.note-add-wrapper p {
	position: relative;
	left: -50%;
	margin-top: 30%;
	color: #e7edee;
	text-align: center;
}
.button.note-add {
	left: -50%;
	padding: 1em;
	border-color: #e7edee;
	opacity: 1;
}
.button.note-add span {
	color: #e7edee;
	font-weight: bold;
	white-space: nowrap;
}
.button.note-add:hover {
	background-color: #e7edee;
	color: #2c3135;
}
.button.note-add:hover span {
	background: -webkit-linear-gradient(to bottom right, #185a9d, #43cea2);
	background: linear-gradient(to bottom right, #185a9d, #43cea2);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button.note-edit {
	background-image: url(../images/edit.svg);
}
.button.note-delete {
	background-image: url(../images/trash-2.svg);
}
.button.note-save {
	background-image: url(../images/save.svg);
}
.button.note-cancel {
	background-image: url(../images/x.svg);
}
.button:hover {
	opacity: 1;
}
.slide.show .note-button-container {
	top: -42%;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.slide.show .button-wrapper {
	top: 75%;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

/* Switching Process */
/*
.slideshow:not(.switch-min):not(.switch-show) .dragger-large .slide.previous,
.slideshow.switch-max .dragger-small .slide.previous {
	left: 4.5%;
}
.slideshow:not(.switch-min):not(.switch-show) .dragger-large .slide.next,
.slideshow.switch-max .dragger-small .slide.next {
	left: -4.5%;
}
*/
.switch-min .dragger-large,
.switch-max .dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7, 0, .3, 1);
	transition: transform 0.6s cubic-bezier(.7, 0, .3, 1);
}
.switch-min .dragger-large .slide,
.switch-max .dragger-small .slide {
	background-color: #dfe3e3;
}
.switch-max .dragger-small .slide {
	border-radius: 10px;
}
.switch-min .dragger-large .slide > *,
.switch-max .dragger-small .slide > * {
	/* fade out everything */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}
.switch-min .dragger-large .slide .note {
	height: 100%;
}
