@font-face {
	font-family: 'feathericons';
	src: url('../fonts/feathericons/feathericons.eot?2h4ajg');
	src: url('../fonts/feathericons/feathericons.eot?#iefix2h4ajg') format('embedded-opentype'),
		 url('../fonts/feathericons/feathericons.woff?2h4ajg') format('woff'),
		 url('../fonts/feathericons/feathericons.ttf?2h4ajg') format('truetype'),
		 url('../fonts/feathericons/feathericons.svg?2h4ajg#feathericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:before, *:after { box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.no-transition {
	transition: none !important;
}
.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

body {
	background: #2c3135;
	color: #545b61;
	font: {
		family: 'Lato', Arial, sans-serif;
		size: 1em;
		weight: 400;
	}
	line-height: 1.5;
}

a {
	color: #9da8ab;
	text-decoration: none;
	outline: none;
	&:hover, &:focus {
		color: #899395;
		text-decoration: underline;
	}
}
textarea {
	width: 100%;
	padding: 12px 15px;
	border-color: #ccc;
	background: transparent;
	color: inherit;
	outline: none;
	resize: none;
}
blockquote {
	border-left: 4px solid #ccc;
	padding-left: 5px;
	font-style: italic;
}
pre {
	background-color: #23241f;
    color: #f8f8f2;
}

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}



@media screen {
	body {
		@media (min-width: 39em) {
			font-size: 1.1em;
		}
		@media (min-width: 48em) {
			font-size: 1.2em;
		}
		@media (min-width: 52em) {
			font-size: 1.356em;
		}
		@media (min-width: 78.75em) {
			font-size: 1.5em;
		}
		@media (min-width: 88.75em) {
			font-size: 1.6em;
		}
	}
}
